<h2>Funcionalidades de Administrador<h2>


<td><%= link_to 'Agregar Pais', new_country_path%></td>
<td><%= link_to 'Ver Paises', countries_path%></td>
<td><%= link_to 'Agregar Articulos', new_article_path %></td>
<td><%= link_to 'Ver Articulos', articles_path%></td>
